*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {font-family: Arial, Helvetica, sans-serif;}

.box {
    max-width: 400px;
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
    border-width: 2px;
    border-style:dashed;
    border-color: red;
}