*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {font-family: Arial, Helvetica, sans-serif;}

.box {
    background: coral;
    max-width: 400px;
    margin: 20px;
    padding: 20px;
}