.container {
    display: flex;
    justify-content:space-around;
    gap:10px;
    margin-top:50px;
}

.box {
    width:200px;
    height: 200px;
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    border:1px solid #ccc;
    border-radius: 50px;    
}
.box-1 {
    box-shadow:5px 1px ,  black;
}
