body {
    font-family: Arial, Helvetica, sans-serif;
}

/*Regular link */
a {
    text-decoration: none;
    color: #333;
}
a:hover {
    color: red;
}

/*active*/
a:active {
    background: purple;
}

/*focus */
a:focus {
    background: yellow;
}
a:visited {
    color: aquamarine;
}