* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}

.container {
    max-width: 600px;
    margin:150px auto;
    padding: 0px 20px;
}

/*card*/
.card {
    background-color: white;
    margin: 20px 0;
    padding: 20px 20px 30px;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);

}

.card h2 {
    font-size: 27px;
    margin-bottom: 20px;
}

.card p {
    font-size: 18px;
    font-weight: 500;
    color: #333;
    margin-bottom: 30px;

}

.card-sporty h2 {
    color:#e04553 ;

}
.card-casual h2 {
    color:#0d4ba3 ;

}
.card-formal h2 {
    color: #512b22 ;

}
.card a {
    text-decoration: none;
    color: #fff;
    background-color: black;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 18px;
}
.card a:hover {
    opacity: 0.9;
}

/* links color */
.card-sporty a {
    background-color: #e04553;
}
.card-casual a {
    background-color:#0d4ba3 ;

}
.card-formal a {
    background-color: #512b22 ;

}
.card-sporty {
    background:#fff  url('image/sporty.png') 
    no-repeat center right/200px; 
}

.card-casual {
    background:#fff  url('image/casual.png') 
    no-repeat center right/200px; 
}
.card-formal {
    background:#fff  url('image/formal.png') 
    no-repeat center right/200px; 
}


