body {
  font-family: Arial, sans-serif;
}
.container {
    max-width:1100px;
    margin: 30px auto;
    background: #f4f4f4;
    height: 600px;
}
.item {
    background-color: coral;
    padding: 1rem;
    border: 1px solid #333;
    text-align: center;
}
.item-grid {
    display: grid;
    background: #f4f4f4;
    grid-template-columns: repeat(3,200px);
    /*grid-template-rows:repeat(4,100px);  
    /*justify-content: space-between;*/
   /* justify-items: end;*/
   /*align-content: space-around;*/
   place-content: space-around;

}